@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext&text=%E2%86%90|%E2%86%92|%E2%86%91');

body
{
  font-family: 'Lato', sans-serif;
  padding:0;
  margin:auto;
  background-color:#ffff99;
  width: 950px;
}

/* Global */
.container
{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul
{
  margin:0;
  padding:0;
}

.button_1
{
  height:38px;
  background:#ffff99;
  border:0;
  padding-left: 15px;
  padding-right:15px;
  color:#000000;
}

.dark
{
  padding:15px;
  background:#ffff99;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header
{
  background:#ffff99;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a
{
  color:#000000;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li
{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding
{
  float:left;
}

header #branding h1
{
  margin:0;
}

header nav
{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a
{
  color:#e8491d;
  font-weight:bold;
}

header a:hover
{
  color:#000000;
  font-weight:bold;
}

a:hover
{
  color:#e8491d;
  text-decoration: none;
}

a
{
  color:#000000;
  text-decoration: none;
}

/* Showcase */
#showcase
{
  min-height:100px;
  background:url('../img/books.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#000000;
}

#showcase h1
{
  margin-top:250px;
  font-size:50px;
  margin-bottom:10px;
}

#showcase p
{
  font-size:20px;
}

/* formstyle */
#formstyle
{
  padding:5px;
  color:#ffffff;
  background:#e8491d;
}

#formstyle h1
{
  float:left;
}

#formstyle form
{
  float:right;
  margin-top:15px;
}

#formstyle input[type="email"]
{
  padding:4px;
  height:25px;
  width:460px;
}

/* Boxes */
#boxes
{
  margin-top:20px;
}

#boxes .box
{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}
#boxes .box img
{
  width:90px;
}


/* List of books in page */
#booklists
{
  margin-top:10px;
}

#booklists .booklist
{
  float:left;
  text-align: center;
  width:50%;
  padding:5px;
}

#booklists .booklist img
{
  width:120px;
}

/* Book details */
bookdetails#main-col
{
  float:right;
  width:65%;
}

#bookimage img
{
  margin-right:10px;
  margin-bottom: 5px;
  float:left;
  width:250px;
  padding: 2px;
}


#profileimage img
{
  margin-right:10px;
  margin-bottom: 5px;
  float:left;
  width:150px;
  padding: 2px;
  border-style: ridge;
}

#sendreview button
{
    height:38px;
    background:#ffff80;
    border:ridge;
    padding-left: 15px;
    padding-right:15px;
    color:#000000;
    border-color: #ffff5e;
}

#profileimage
{
    border-style: ridge;
    background: #ffff80;
    border-color: #ffff5e;
}

textarea {
    resize: none;
    width: 600px;
    height: 100px;
    padding: 2px;
}

select
{
  height:38px;
  background:#ffff99;
  border:solid;
  border-color: #ffff5e;
  padding-left: 30px;
  padding-right:15px;
  color:#000000;

}


/* Sidebar */
aside#sidebar
{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea
{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col
{
  float:left;
  width:65%;
}

/* Services */
ul#services li
{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer
{
  padding:10px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px)
{
  header #branding,
  header nav,
  header nav li,
  #formstyle h1,
  #formstyle form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header
  {
    padding-bottom:20px;
  }

  #showcase h1
  {
    margin-top:40px;
  }

  #formstyle button, .quote button
  {
    display:block;
    width:100%;
  }

  #formstyle form input[type="email"], .quote input, .quote textarea
  {
    width:100%;
    margin-bottom:5px;
  }
}
